*,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    border: 2px solid #0eec06;
    height: 100vh;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1.5fr 8.5fr;
}
.header{
    border: 2px solid #000;
    
}
.sidebar{
    border: 2px solid #ca1616;
    grid-area: 1/1/3/2;
}
.content_area{
    border: 2px solid #1916ca;
}